Tests: dh-python
Depends:
 build-essential,
 debhelper,
 dh-python,
 flit,
 fakeroot,
 libjs-jquery,
 pypy,
 python-all-dbg,
 python-all-dev,
 python3-all-dbg,
 python3-all-dev,
 python3-setuptools,
 python3-toml

Tests: nosetests
Depends:
 dh-python,
 flit,
 pypy,
 python-all,
 python-all-dbg,
 python3-all,
 python3-all-dbg,
 python3-nose
Restrictions: allow-stderr
